.description{
    background-image: url('../images/lady.jpeg');
    min-height: 100vh;
    padding-left:50px;
    padding-right: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.description1{
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    
}
.gym{
    font-size: 50px;
    color:tomato;
}
.gym1{
    font-size: 20px;
    color:whitesmoke;
    margin-bottom: 50px;   
}
.gym2{
    font-size: 50px;
    color:tomato;
    
}
.gym3{
    font-size: 20px;
    color:whitesmoke;
    display: inline-block;
    margin-bottom: 50px;
    overflow-wrap: break-word;
}
.gym4{
    font-size: 30px;
    color:white;  
    margin-top: 30px;   
}
.gym5{
    font-size: 20px;
    color:whitesmoke;
    display: inline-block;
    margin-bottom: 50px;
    overflow-wrap: break-word;
    line-height: 1.6;
}
.Services{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background-color: rgb(53, 49, 48);
    justify-content: space-around;
    justify-content: space-between;
    display: flex;
    margin-bottom: 50px;  
}

.image{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: space-around;
    display: flex;
    margin-bottom: 50px;  
}
 
.fit-picture{
    width:27%;
}
@media(max-width:600px){
    .Services {
        display: block;
    }
      
}
